$branco: #ffffff;
$preto: #000000;
$cinza-claro: #f6f6f6;
$cinza-escuro: #212121;
$cinza-azul: #889a9e;
$vermelho: #c21d24;
$vermelho-claro: #da7478;
$azul-facebook: #3b5998;
$azul: #000fff;
$amarelo-claro: #f8f5e3;
$amarelo-palido: #eadfc6;

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  body {
    font-family: 'Lato', sans-serif;
    color: $cinza-escuro;
    background: $branco;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
  }
  input {
    font-family: 'Lato', sans-serif;
  }
}

.navbar {
  background: $branco;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 120px;
  .nav-logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 18px;
    left: 18px;
    img {
      margin-right: 23px;
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    position: absolute;
    left: 124px;
    padding: 0;
    bottom: 0;
    .nav-item {
      margin-right: 23px;
      position: relative;
      &:hover {
        .nav-link {
          color: $vermelho;
        }
      }
      .nav-link {
        display: block;
        padding: 26px 0;
        text-decoration: none;
        color: $cinza-escuro;
      }
      .dropdown-menu {
        opacity: 0;
        display: none;
        position: absolute;
        min-width: 250px;
        box-shadow:0 4px 4px 0 rgba($preto, .5);
        padding: 0 0 14px 0;
        list-style: none;
        background: $branco;
        left: -4px;
        .dropdown-item {
          position: relative;
          padding: 0;
          &[data-toggle="dropdown"]:after {
            content: '>';
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            color: rgba($cinza-escuro, .5);
            font-family: 'Lato', sans-serif;
          }
          &:hover {
            & > a {
              background: $vermelho;
              color: $branco;
            }
            &[data-toggle="dropdown"]:after {
              color: $branco;
            }
          }
          a {
            display: block;
            padding: 10px 21px 10px 21px;
            // max-width: 295px;
            color: $cinza-escuro;
            text-decoration: none;
            overflow-wrap: break-word;
            // white-space: normal;
          }
          .dropdown-menu {
            top: -14px;
            left: 100%;
            padding: 14px 0;
            .dropdown-item {
              padding: 0;
              a {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .nav-right-top {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 22px;
    top: 18px;
    display: flex;
    flex-direction: row;
    .nav-right-item {
      margin-left: 25px;
      .nav-right-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
      }
      #NavRightTopSearch {
        height: 28px;
        width: 20px;
        background-image: url('../img/pesquisa.png');
      }
      #NavRightTopFrance {
        height: 23px;
        width: 30px;
        background-image: url('../img/band-franca2.png');
      }
      #NavRightTopBrazil {
        height: 23px;
        width: 30px;
        background-image: url('../img/band-brasil2.png');
      }
    }
  }
  .nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 28px;
    bottom: 14px;
    display: flex;
    flex-direction: row;
    .nav-right-item {
      margin-left: 34px;
        .nav-right-link {
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
        }
        #NavRightCell {
          height: 28px;
          width: 20px;
          background-image: url('../img/cell_off.png');
          &:hover {
            background-image: url('../img/cell_on.png');
          }
        }
        #NavRightNewsletter {
          height: 28px;
          width: 28px;
          background-image: url('../img/newsletter_off.png');
          &:hover {
            background-image: url('../img/newsletter_on.png');
          }
        }
        #NavRightFacebook {
          height: 29px;
          width: 16px;
          background-image: url('../img/face_off.png');
          &:hover {
            background-image: url('../img/face_on.png');
          }
        }
    }
  }
}
#RollTop {
  position: fixed;
  bottom: 29px;
  right: 29px;
  z-index: 10;
}

#slider {
  height: 498px;
  background: transparent;
  position: relative;
  #slider-controls {
    #slidePrev, #slideNext {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
    #slidePrev {
      left: 44px;
    }
    #slideNext {
      right: 44px;
    }
  }
  .slides {
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    .slide {
      transition: all .3s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: $branco;
        font-size: 36px;
        text-align: center;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}

.home-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p, span {
      letter-spacing:0.3px;
    }
  }
  &#ParaRefletir, &#AllanKardec, &#App {
    background: $branco;
    padding: 91px calc(calc(100% - 1200px)/2 + 75px);
    .text-content {
      margin-right: 85px;
      h1 {
        font-weight: 300;
        font-size: 40px;
        margin: 15px 0;
      }
      img {
        width: auto;
      }
      p {
        line-height:24px;
        margin: 45px 0 0 0;
      }
      span {
        color: $vermelho;
        line-height:24px;
        font-weight: bold;
      }
      .btn {
        margin: 36px 0 0 0;
      }
    }
  }
  &#ParaRefletir {
    justify-content: space-between;
    .text-content {
      p {
        max-width: 603px;
      }
    }
  }
  &#AllanKardec {
    background-image: url('../img/quadro-ak.png');
    background-position: calc(calc(100% - 1200px)/2 + 75px + 364px + 360px) center;
    background-repeat: no-repeat;
    .text-content {
      max-width: 364px;
      h1 {
        color: $vermelho;
      }
    }
  }
  &#RoteiroDeEstudos {
    height: 570px;
    background: $vermelho-claro;
    .roteiro-image {
      width: 39.5%;
      height: 100%;
      background-image: url('../img/shutterstock_522019972.jpg');
      background-size: cover;
      background-position: center center;
    }
    .text-content {
      margin-left: 63px;
      h1 {
        font-size: 40px;
        color: $branco;
        font-weight: 400;
        margin: 0 0 48px 0;
      }
      p {
        color: $branco;
        font-weight: 300;
        font-size: 25px;
        max-width: 486px;
        line-height:34px;
        margin: 0 0 97px 0;
      }
    }
  }
  &#Sobre {
    background-image: url('../img/fundo-objetivos.jpg');
    background-position: center center;
    background-size: cover;
    justify-content: center;
    padding: 78px 0 57px 0;
    .text-content {
      align-items: center;
      h1 {
        color: $branco;
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 48px 0;
      }
      p {
        letter-spacing: 0;
        color: $branco;
        max-width: 742px;
        margin-bottom: 60px;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .three-columns {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 66px 14px;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 14px;
      flex-grow: 1;
      max-width: calc(calc(100% - 3*28px)/3);
    }
  }
  &#General {
    justify-content: center;
    .three-columns {
      #Catalogo {
        .img {
          background-image: url('../img/catalogo-racional.jpg');
        }
      }
      #Revista {
        .img {
          background-image: url('../img/revista-espirita.jpg');
        }
      }
      #Estudo {
        .img {
          background-image: url('../img/estudos-mediunidade.jpg');
        }
      }
      .img {
        height: 134px;
        width: 100%;
        background-position: center center;
        background-size: cover;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 101px;
        width: 101px;
        background: $branco;
        margin-top: -50px;
      }
      span {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
      }
      p {
        letter-spacing:0;
        line-height:26px;
        text-align:center;
      }
    }
  }
  &#Dia {
    display: flex;
    flex-direction: column;
    background-image: url('../img/neste-dia.jpg');
    background-position: center center;
    background-size: cover;
    color: $branco;
    padding: 56px 0 52px 0;
    h1 {
      font-size: 30px;
      margin: 0 0 56px 0;
      font-weight: 400;
    }
    .three-columns {
      padding: 0 14px;
      & > div {
        border: 1px solid $branco;
        border-radius: 20px;
        padding: 22px 30px 20px 30px;
        justify-content: space-between;
        h2 {
          font-weight: 700;
          font-size:20px;
          letter-spacing:0;
          margin: 0 0 12px 0;
        }
        p, li {
          letter-spacing:0;
          font-size: 14px;
          margin: 0;
        }
        ul {
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          li {
            &:before {
              content: '- '
            }
          }
        }
      }
    }
  }
  &#App {
    .text-content {
      margin: 0 0 0 46px;
      p {
        max-width: 473px;
      }
      .btns {
        margin-top: 44px;
        a {
          margin-right: 20px;
        }
      }
    }
  }
  &#Facebook {
    background-color: $azul-facebook;
    background-image: url('../img/fb.jpg');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    color: $branco;
    height: 477px;
    .text-content {
      padding-left: calc(calc(100% - 1200px)/2 + 75px);
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 44px 0;
      }
      p {
        font-weight: 300;
        font-size:25px;
        letter-spacing:0.3px;
        line-height:34px;
        margin-bottom: 110px;
        max-width: 398px;
      }
    }
  }
  &#Newsletter {
    position: relative;
    color: $branco;
    background: rgba($preto, .6);
    height: 420px;
    flex-direction: column;
    justify-content: center;
    padding: 91px calc(calc(100% - 1200px)/2 + 75px);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../img/man-coffee-cup-pen-low.jpg');
      background-position: center center;
      background-size: cover;
      z-index: -1;
    }
    h1 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin: 0 0 91px 0;
    }
    form {
      display: flex;
      flex-direction: row;
      width: 100%;
      input[type="text"] {
        border-radius: 10px;
        border: 0;
        flex-grow: 2;
        margin-right: 30px;
        padding: 0 16px;
        font-family: 'Lato';
        font-size: 16px;
        color: $cinza-escuro;
        &::placeholder {
          color: $cinza-escuro;
          font-style: italic;
        }
      }
      input[type="email"] {
        border-radius: 10px;
        border: 0;
        flex-grow: 3;
        margin-right: 28px;
        padding: 0 23px;
        font-family: 'Lato';
        font-size: 16px;
        color: $cinza-escuro;
        &::placeholder {
          color: $cinza-escuro;
          font-style: italic;
        }
      }
    }
  }
}

.btn {
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  color: $branco;
  background: $vermelho;
  border: none;
  border-radius: 20px;
  padding: 0 23px;
  text-decoration: none;
  font-weight: 700;
  transition: all .3s;
  &.btn-inverse {
    background: $branco;
    color: $vermelho;
  }
  &.btn-inverse-dark {
    background: $branco;
    color: $cinza-escuro;
  }
  &.btn-facebook {
    background: $branco;
    color: $azul-facebook;
  }
  &.btn-alt {
    background: $cinza-azul;
    color: $branco;
  }
  &.btn-border {
    text-transform: none;
    border: 1px solid $cinza-escuro;
    background: none;
    color: $cinza-escuro;
    font-weight: 400;
    height: 34px;
  }
  &:hover {
    border-radius: 0;
  }
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: $cinza-claro;
  border-bottom: 5px solid $vermelho;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 0 18px 0;
  #FooterLogo {
    margin-bottom: 18px;
  }
  #FooterLogoName {
    margin-bottom: 15px;
  }
  a {
    color: $cinza-escuro;
  }
  #FooterAdmin {
    margin-top: 31px;
  }
}

.nav-study {
  background: $branco;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px 0 0;
  #prevPage {margin-right: 42px}
  #nextPage {margin-right: 54px}
  #smallerText {margin-right:14px}
  #biggerText {
    margin-left: 14px;
    margin-right: 42px;
  }
  #compare {
    margin-right: 33px;
    display: none;
  }
  #PtFlagBook, #FrFlagBook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 55px;
    border: 1px solid transparent;
    border-radius: 17px;
  }
  .flags {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c6c6c6;
    border-radius: 17px;
  }
  .book-selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.pt-only:not(.fr-only) {
      #compare {
        display: flex;
      }
      #PtFlagBook {
        border-color: #c6c6c6;
      }
      .flags {border-color:transparent}
    }
    &.fr-only:not(.pt-only) {
      #FrFlagBook {
        border-color: #c6c6c6;
      }
      .flags {border-color:transparent}
    }
  }
}

.books {
  display: flex;
  flex-direction: row;
  .book {
    background: $amarelo-claro;
    overflow: hidden;
    .breadcrumbs {
      background: $branco;
      height: 70px;
      display: flex;
      align-items: center;
      width: 50vw;
    }
    .text {
      padding-top: 48px;
      padding-bottom: 48px;
      font-size: 18px;
      font-family: 'Droid Serif';
      line-height:24px;
      width: 50vw;
    }
    &#PtBook {
      .breadcrumbs, .text {
        padding-left: 12vw;
        padding-right: 22px;
      }
    }
    &#FrBook {
      .breadcrumbs, .text {
        padding-right: 12vw;
        padding-left: 22px;
      }
    }
  }
  &.pt-only:not(.fr-only) {
    #PtBook {
      .breadcrumbs {
        padding: 0 calc(50vw - 413px);
        width: 100vw;
      }
      .text {
        padding: 48px calc(50vw - 413px);
        width: 100vw;
      }
    }
    #FrBook {
      display: none;
    }
  }
  &.fr-only:not(.pt-only) {
    #FrBook {
      .breadcrumbs {
        padding: 0 calc(50vw - 413px);
        width: 100vw;
      }
      .text {
        padding: 48px calc(50vw - 413px);
        width: 100vw;
      }
    }
    #PtBook {
      display: none;
    }
  }
}
.book-footer {
  padding: 0 57px 38px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: $amarelo-claro;
  a {
    margin-left: 40px;
  }
}

#TextosRelacionados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 37px 54px 116px 54px;
  background: $branco;
  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 18px 0;
  }
  img {
    margin: 0 0 43px 0;
  }
  .related-books {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      &:nth-child(even) {
        background: $cinza-claro;
      }
      &:before {
        content: '';
        display: flex;
        background-image: url('../img/icone_relacionado.png');
        background-position: top center;
        left: 0;
        top: 15px;
        position: absolute;
        width: 87px;
        height: 18px;
        background-repeat: no-repeat;
      }
      padding: 15px 47px 15px 87px;
      a {
        color: $azul;
        text-decoration: none;
      }
      p {
        display: none;
      }
      &.active {
        p {
          display: block;
        }
      }
    }
  }
}

#RoteiroFull {
  padding: 149px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 100%;
    max-width: 966px;
    padding: 0 10px;
    text-align: center;
    h1 {
      font-size: 48px;
      font-weight: 300;
      color: $vermelho;
      margin-bottom: 56px;
    }
    a.ajuda {
      display: block;
      margin-bottom: 56px;
    }
    .lower-btns {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 54px;
      a {
        margin-left: 40px;
      }
    }
    .roteiro-list {
      margin-bottom: 88px;
      text-align: left;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0 0 0 20px;
          margin: 10px 0;
          p {
            position: relative;
            padding: 5px 45px 6px 45px;
            margin: 0 0 0 -20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: $amarelo-palido;
            font-weight: 700;
            &.more {
              cursor: pointer;
              &:before {
                content: '+';
                width: 45px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
              }
            }
          }
          ul {
            display: none;
            overflow: hidden;
            li {
              p {
                background: $cinza-claro;
                font-weight: 400;
              }
            }
          }
          &.expanded {
            > p:before {
              content: '-';
            }
            > ul {
              display: block;
            }
          }
        }
        &.docs {
          margin: 0 0 0 -20px;
          li {
            position: relative;
            padding: 0 45px;
            &:before {
              content: '';
              display: flex;
              align-items: center;
              justify-content: center;
              background-image: url('../img/icone_relacionado.png');
              background-position: center center;
              background-repeat: no-repeat;
              top: 0;
              left: 0;
              bottom: 0;
              width: 45px;
              position: absolute;
            }
          }
        }
      }
    }
  }
}

.modal {
  display: none;
  &.modal-show {
    display: flex;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba($preto, .7);
  justify-content: center;
  align-items: center;
  .modal-container {
    background: $branco;
    padding: 45px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    > form {
      padding: 0 55px;
      width: 360px;
      box-sizing: border-box;
    }
    h1 {
      color: $vermelho;
      margin: 0 0 45px 0;
    }
    input {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: none;
      border-bottom: 2px solid #979797;
      height: 32px;
      padding: 0;
      vertical-align: middle;
      margin: 0 0 45px 0;
      font-family: 'Lato';
      font-size: 16px;
      color: $cinza-escuro;
      &:focus {
        outline: none;
        border-color: $vermelho;
      }
      &::placeholder {
       color: $cinza-escuro;
       font-style: italic;
      }
    }
  }
}

#IndicarModal {
  .modal-container {
    width: calc(100% - 82px);
    padding: 41px 10%;
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        margin-left: -6.6%;
      }
      width: 100%;
      .form-line {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        input:not(:first-child) {
          margin-left: 48px;
        }
      }
      .btn {
        position: relative;
        right: 0;
        align-self: flex-end;
      }
    }
  }
}

#FaleConosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 149px;
  & > div {
    min-width: 592px;
    text-align: center;
    h1 {
      font-size:48px;
      font-weight: 300;
      color: $vermelho;
      margin-bottom: 62px;
    }
    form {
      border-top: 1px solid #c7c7c7;
      padding: 33px 0;
      h2 {
        font-size:30px;
        font-weight: 300;
        text-align: left;
        margin: 0 0 59px 0;
      }
      input {
        padding: 10px 0;
        margin: 0 0 56px 0;
      }
      textarea {
        resize: vertical;
        margin-bottom: 66px;
        height: 100px;
      }
      input, textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #c7c7c7;
        font-size: 16px;
        &:focus {
          border-color: $vermelho;
          outline: none;
        }
      }
      input::placeholder, label {
        color: $cinza-escuro;
        font-style: italic;
      }
      label {
        display: flex;
      }
      .form-line {
        display: flex;
        flex-direction: row;
        input:not(:first-child) {
          margin-left: 38px;
        }
      }
      button {
        margin-bottom: 67px;
      }
    }
  }
}

#ParaRefletirFrases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 149px;
  & > div {
    max-width: 895px;
    text-align: center;
    margin: 0 0 65px 0;
    display: flex;
    flex-direction: column;   
    h1 {
      font-size:48px;
      font-weight: 300;
      color: $vermelho;
      margin-bottom: 62px;
    }
    & > a {
      display: flex;
      align-self: flex-end;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      * {
        font-weight: 300;
        font-size: 18px;
        transition: all .3s;
      }
      li {
        transition: all .3s;
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: 1px solid #ccc;
        border-top: 3px solid $vermelho;
        margin-bottom: 18px;
        p {
          margin: 0 0 18px 0;
        }
        .author {
          font-weight: 700;
        }
        .source {
          color: #c7c7c7;
        }
        &:hover {
          background: $vermelho;
          * {
            color: $branco;
          }
        }
      }
    }
  }
}

#NewsletterModal {
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 42px 51px;
    h1 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 55px;
    }
  }
}

#pesquisaModal{
  input{
    display: flex;
    width: 1017px;
    height: 84px;
    font-size: 20px;
    position: relative;
    right: 50px;
    color: #8e8e8e;
    border: none;
    padding-left: 32px;
  }
  input::placeholder{
    color:#8e8e8e;
    font-style: italic;
  }
  img{
    position: relative;
    left: 950px;
    z-index: 1;
  }
  .close{
    position: relative;
    left: 1035px;
    bottom: 42px;
    z-index: 1;
  }
  .close:hover{
    cursor: pointer;
  }
}

.busca{
  .header{
    margin-top: 149px;
    color: #c21d24;
    font-size: 48px;
    font-weight: 200;
  }
  .pills{
    margin-top: 65px;
    #opcao-roteiro{
      font-size:20px;
      font-family: 'Lato', sans-serif;
      display: inline-block;
      position: relative;
      left: 82px;
    }
    #opcao-portal{
      font-size:20px;
      font-family: 'Lato', sans-serif;
      display: inline-block;
      position: relative;
      left: 126px;
    }
    .input-search{
      display: inline-block;
      position: relative;
      float: right;
      right: 20px;
      bottom: 20px;
      img{
        position: relative;
        float: right;
        right: 25px;
      }
    }
    input{
      width: 266px;
      border: 1px solid #8e8e8e;
      border-style: none none solid none;
      font-style: italic;
    }
    .pill-opcao:hover{
      cursor: pointer;
    }
    input:focus{
      outline: none;
    }
    .pill-selecionado{
      color: #c21d24;
    }
    .pill-indicador{
      background-color: #c21d24;
      width: 234px;
      height: 3px;
      position: relative;
      top: 12px;
    }
    .pill-indicador-roteiro{
      left: 57px;
    }
    .pill-indicador-portal{
      left: 298px;
    }
  }
  .table-busca{
    position: relative;
    top: 26px;
    table{
      width: 93%;
      position: relative;
      left: 50px;
    }
  }
  .paginacao{
    height: 250px;
    width: 90%;
    position: relative;
    top: 35px;
    left: calc(calc(100% - 1200px)/2 + 6px);
    font-size: 16px;
    .page{
      display: inline-block;
      margin-right: 10.5px;
    }
    .page:hover{
      cursor: pointer;
    }
    .current-page{
      color: #c21d24;
    }
  }
}

.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    max-width: 826px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .conteudo-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        margin: 0 14px;
      }
      * {
        display: flex;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 18px;
    }
    font-family:DroidSerif;
    font-size:18px;
    color:#5e5e5e;
    letter-spacing:0;
    line-height:24px;
    text-align:left;
  }
  .book-footer {
    padding: 0 57px 38px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: $branco;
    a {
      margin: 38px 0 0 40px;
    }
  }
}

@media print {
  .no-print, .no-print * { display: none; }
  *, p, h1, h2, li {
    color: $preto;
    border: none;
  }
}