html {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }
  html * {
    box-sizing: inherit; }
  html body {
    font-family: 'Lato', sans-serif;
    color: #212121;
    background: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; }
  html input {
    font-family: 'Lato', sans-serif; }

.navbar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 120px; }
  .navbar .nav-logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 18px;
    left: 18px; }
    .navbar .nav-logo img {
      margin-right: 23px; }
  .navbar .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    position: absolute;
    left: 124px;
    padding: 0;
    bottom: 0; }
    .navbar .nav .nav-item {
      margin-right: 23px;
      position: relative; }
      .navbar .nav .nav-item:hover .nav-link {
        color: #c21d24; }
      .navbar .nav .nav-item .nav-link {
        display: block;
        padding: 26px 0;
        text-decoration: none;
        color: #212121; }
      .navbar .nav .nav-item .dropdown-menu {
        opacity: 0;
        display: none;
        position: absolute;
        min-width: 250px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
        padding: 0 0 14px 0;
        list-style: none;
        background: #ffffff;
        left: -4px; }
        .navbar .nav .nav-item .dropdown-menu .dropdown-item {
          position: relative;
          padding: 0; }
          .navbar .nav .nav-item .dropdown-menu .dropdown-item[data-toggle="dropdown"]:after {
            content: '>';
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            color: rgba(33, 33, 33, 0.5);
            font-family: 'Lato', sans-serif; }
          .navbar .nav .nav-item .dropdown-menu .dropdown-item:hover > a {
            background: #c21d24;
            color: #ffffff; }
          .navbar .nav .nav-item .dropdown-menu .dropdown-item:hover[data-toggle="dropdown"]:after {
            color: #ffffff; }
          .navbar .nav .nav-item .dropdown-menu .dropdown-item a {
            display: block;
            padding: 10px 21px 10px 21px;
            color: #212121;
            text-decoration: none;
            overflow-wrap: break-word; }
          .navbar .nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu {
            top: -14px;
            left: 100%;
            padding: 14px 0; }
            .navbar .nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu .dropdown-item {
              padding: 0; }
              .navbar .nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu .dropdown-item a {
                display: block; }
  .navbar .nav-right-top {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 22px;
    top: 18px;
    display: flex;
    flex-direction: row; }
    .navbar .nav-right-top .nav-right-item {
      margin-left: 25px; }
      .navbar .nav-right-top .nav-right-item .nav-right-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center; }
      .navbar .nav-right-top .nav-right-item #NavRightTopSearch {
        height: 28px;
        width: 20px;
        background-image: url("../img/pesquisa.png"); }
      .navbar .nav-right-top .nav-right-item #NavRightTopFrance {
        height: 23px;
        width: 30px;
        background-image: url("../img/band-franca2.png"); }
      .navbar .nav-right-top .nav-right-item #NavRightTopBrazil {
        height: 23px;
        width: 30px;
        background-image: url("../img/band-brasil2.png"); }
  .navbar .nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 28px;
    bottom: 14px;
    display: flex;
    flex-direction: row; }
    .navbar .nav-right .nav-right-item {
      margin-left: 34px; }
      .navbar .nav-right .nav-right-item .nav-right-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center; }
      .navbar .nav-right .nav-right-item #NavRightCell {
        height: 28px;
        width: 20px;
        background-image: url("../img/cell_off.png"); }
        .navbar .nav-right .nav-right-item #NavRightCell:hover {
          background-image: url("../img/cell_on.png"); }
      .navbar .nav-right .nav-right-item #NavRightNewsletter {
        height: 28px;
        width: 28px;
        background-image: url("../img/newsletter_off.png"); }
        .navbar .nav-right .nav-right-item #NavRightNewsletter:hover {
          background-image: url("../img/newsletter_on.png"); }
      .navbar .nav-right .nav-right-item #NavRightFacebook {
        height: 29px;
        width: 16px;
        background-image: url("../img/face_off.png"); }
        .navbar .nav-right .nav-right-item #NavRightFacebook:hover {
          background-image: url("../img/face_on.png"); }

#RollTop {
  position: fixed;
  bottom: 29px;
  right: 29px;
  z-index: 10; }

#slider {
  height: 498px;
  background: transparent;
  position: relative; }
  #slider #slider-controls #slidePrev, #slider #slider-controls #slideNext {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    #slider #slider-controls #slidePrev img, #slider #slider-controls #slideNext img {
      cursor: pointer; }
  #slider #slider-controls #slidePrev {
    left: 44px; }
  #slider #slider-controls #slideNext {
    right: 44px; }
  #slider .slides {
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative; }
    #slider .slides .slide {
      transition: all .3s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #slider .slides .slide h1 {
        color: #ffffff;
        font-size: 36px;
        text-align: center;
        font-weight: 300;
        margin: 0; }

.home-section {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .home-section .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .home-section .text-content p, .home-section .text-content span {
      letter-spacing: 0.3px; }
  .home-section#ParaRefletir, .home-section#AllanKardec, .home-section#App {
    background: #ffffff;
    padding: 91px calc(calc(100% - 1200px)/2 + 75px); }
    .home-section#ParaRefletir .text-content, .home-section#AllanKardec .text-content, .home-section#App .text-content {
      margin-right: 85px; }
      .home-section#ParaRefletir .text-content h1, .home-section#AllanKardec .text-content h1, .home-section#App .text-content h1 {
        font-weight: 300;
        font-size: 40px;
        margin: 15px 0; }
      .home-section#ParaRefletir .text-content img, .home-section#AllanKardec .text-content img, .home-section#App .text-content img {
        width: auto; }
      .home-section#ParaRefletir .text-content p, .home-section#AllanKardec .text-content p, .home-section#App .text-content p {
        line-height: 24px;
        margin: 45px 0 0 0; }
      .home-section#ParaRefletir .text-content span, .home-section#AllanKardec .text-content span, .home-section#App .text-content span {
        color: #c21d24;
        line-height: 24px;
        font-weight: bold; }
      .home-section#ParaRefletir .text-content .btn, .home-section#AllanKardec .text-content .btn, .home-section#App .text-content .btn {
        margin: 36px 0 0 0; }
  .home-section#ParaRefletir {
    justify-content: space-between; }
    .home-section#ParaRefletir .text-content p {
      max-width: 603px; }
  .home-section#AllanKardec {
    background-image: url("../img/quadro-ak.png");
    background-position: calc(calc(100% - 1200px)/2 + 75px + 364px + 360px) center;
    background-repeat: no-repeat; }
    .home-section#AllanKardec .text-content {
      max-width: 364px; }
      .home-section#AllanKardec .text-content h1 {
        color: #c21d24; }
  .home-section#RoteiroDeEstudos {
    height: 570px;
    background: #da7478; }
    .home-section#RoteiroDeEstudos .roteiro-image {
      width: 39.5%;
      height: 100%;
      background-image: url("../img/shutterstock_522019972.jpg");
      background-size: cover;
      background-position: center center; }
    .home-section#RoteiroDeEstudos .text-content {
      margin-left: 63px; }
      .home-section#RoteiroDeEstudos .text-content h1 {
        font-size: 40px;
        color: #ffffff;
        font-weight: 400;
        margin: 0 0 48px 0; }
      .home-section#RoteiroDeEstudos .text-content p {
        color: #ffffff;
        font-weight: 300;
        font-size: 25px;
        max-width: 486px;
        line-height: 34px;
        margin: 0 0 97px 0; }
  .home-section#Sobre {
    background-image: url("../img/fundo-objetivos.jpg");
    background-position: center center;
    background-size: cover;
    justify-content: center;
    padding: 78px 0 57px 0; }
    .home-section#Sobre .text-content {
      align-items: center; }
      .home-section#Sobre .text-content h1 {
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 48px 0; }
      .home-section#Sobre .text-content p {
        letter-spacing: 0;
        color: #ffffff;
        max-width: 742px;
        margin-bottom: 60px;
        text-align: center;
        font-size: 20px; }
  .home-section .three-columns {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 66px 14px; }
    .home-section .three-columns > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 14px;
      flex-grow: 1;
      max-width: calc(calc(100% - 3*28px)/3); }
  .home-section#General {
    justify-content: center; }
    .home-section#General .three-columns #Catalogo .img {
      background-image: url("../img/catalogo-racional.jpg"); }
    .home-section#General .three-columns #Revista .img {
      background-image: url("../img/revista-espirita.jpg"); }
    .home-section#General .three-columns #Estudo .img {
      background-image: url("../img/estudos-mediunidade.jpg"); }
    .home-section#General .three-columns .img {
      height: 134px;
      width: 100%;
      background-position: center center;
      background-size: cover; }
    .home-section#General .three-columns .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 101px;
      width: 101px;
      background: #ffffff;
      margin-top: -50px; }
    .home-section#General .three-columns span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700; }
    .home-section#General .three-columns p {
      letter-spacing: 0;
      line-height: 26px;
      text-align: center; }
  .home-section#Dia {
    display: flex;
    flex-direction: column;
    background-image: url("../img/neste-dia.jpg");
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    padding: 56px 0 52px 0; }
    .home-section#Dia h1 {
      font-size: 30px;
      margin: 0 0 56px 0;
      font-weight: 400; }
    .home-section#Dia .three-columns {
      padding: 0 14px; }
      .home-section#Dia .three-columns > div {
        border: 1px solid #ffffff;
        border-radius: 20px;
        padding: 22px 30px 20px 30px;
        justify-content: space-between; }
        .home-section#Dia .three-columns > div h2 {
          font-weight: 700;
          font-size: 20px;
          letter-spacing: 0;
          margin: 0 0 12px 0; }
        .home-section#Dia .three-columns > div p, .home-section#Dia .three-columns > div li {
          letter-spacing: 0;
          font-size: 14px;
          margin: 0; }
        .home-section#Dia .three-columns > div ul {
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .home-section#Dia .three-columns > div ul li:before {
            content: "- "; }
  .home-section#App .text-content {
    margin: 0 0 0 46px; }
    .home-section#App .text-content p {
      max-width: 473px; }
    .home-section#App .text-content .btns {
      margin-top: 44px; }
      .home-section#App .text-content .btns a {
        margin-right: 20px; }
  .home-section#Facebook {
    background-color: #3b5998;
    background-image: url("../img/fb.jpg");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 477px; }
    .home-section#Facebook .text-content {
      padding-left: calc(calc(100% - 1200px)/2 + 75px); }
      .home-section#Facebook .text-content h1 {
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 44px 0; }
      .home-section#Facebook .text-content p {
        font-weight: 300;
        font-size: 25px;
        letter-spacing: 0.3px;
        line-height: 34px;
        margin-bottom: 110px;
        max-width: 398px; }
  .home-section#Newsletter {
    position: relative;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    height: 420px;
    flex-direction: column;
    justify-content: center;
    padding: 91px calc(calc(100% - 1200px)/2 + 75px); }
    .home-section#Newsletter:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../img/man-coffee-cup-pen-low.jpg");
      background-position: center center;
      background-size: cover;
      z-index: -1; }
    .home-section#Newsletter h1 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin: 0 0 91px 0; }
    .home-section#Newsletter form {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .home-section#Newsletter form input[type="text"] {
        border-radius: 10px;
        border: 0;
        flex-grow: 2;
        margin-right: 30px;
        padding: 0 16px;
        font-family: 'Lato';
        font-size: 16px;
        color: #212121; }
        .home-section#Newsletter form input[type="text"]::placeholder {
          color: #212121;
          font-style: italic; }
      .home-section#Newsletter form input[type="email"] {
        border-radius: 10px;
        border: 0;
        flex-grow: 3;
        margin-right: 28px;
        padding: 0 23px;
        font-family: 'Lato';
        font-size: 16px;
        color: #212121; }
        .home-section#Newsletter form input[type="email"]::placeholder {
          color: #212121;
          font-style: italic; }

.btn {
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c21d24;
  border: none;
  border-radius: 20px;
  padding: 0 23px;
  text-decoration: none;
  font-weight: 700;
  transition: all .3s; }
  .btn.btn-inverse {
    background: #ffffff;
    color: #c21d24; }
  .btn.btn-inverse-dark {
    background: #ffffff;
    color: #212121; }
  .btn.btn-facebook {
    background: #ffffff;
    color: #3b5998; }
  .btn.btn-alt {
    background: #889a9e;
    color: #ffffff; }
  .btn.btn-border {
    text-transform: none;
    border: 1px solid #212121;
    background: none;
    color: #212121;
    font-weight: 400;
    height: 34px; }
  .btn:hover {
    border-radius: 0; }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f6f6f6;
  border-bottom: 5px solid #c21d24;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 0 18px 0; }
  .footer #FooterLogo {
    margin-bottom: 18px; }
  .footer #FooterLogoName {
    margin-bottom: 15px; }
  .footer a {
    color: #212121; }
  .footer #FooterAdmin {
    margin-top: 31px; }

.nav-study {
  background: #ffffff;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px 0 0; }
  .nav-study #prevPage {
    margin-right: 42px; }
  .nav-study #nextPage {
    margin-right: 54px; }
  .nav-study #smallerText {
    margin-right: 14px; }
  .nav-study #biggerText {
    margin-left: 14px;
    margin-right: 42px; }
  .nav-study #compare {
    margin-right: 33px;
    display: none; }
  .nav-study #PtFlagBook, .nav-study #FrFlagBook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 55px;
    border: 1px solid transparent;
    border-radius: 17px; }
  .nav-study .flags {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c6c6c6;
    border-radius: 17px; }
  .nav-study .book-selectors {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav-study .book-selectors.pt-only:not(.fr-only) #compare {
      display: flex; }
    .nav-study .book-selectors.pt-only:not(.fr-only) #PtFlagBook {
      border-color: #c6c6c6; }
    .nav-study .book-selectors.pt-only:not(.fr-only) .flags {
      border-color: transparent; }
    .nav-study .book-selectors.fr-only:not(.pt-only) #FrFlagBook {
      border-color: #c6c6c6; }
    .nav-study .book-selectors.fr-only:not(.pt-only) .flags {
      border-color: transparent; }

.books {
  display: flex;
  flex-direction: row; }
  .books .book {
    background: #f8f5e3;
    overflow: hidden; }
    .books .book .breadcrumbs {
      background: #ffffff;
      height: 70px;
      display: flex;
      align-items: center;
      width: 50vw; }
    .books .book .text {
      padding-top: 48px;
      padding-bottom: 48px;
      font-size: 18px;
      font-family: 'Droid Serif';
      line-height: 24px;
      width: 50vw; }
    .books .book#PtBook .breadcrumbs, .books .book#PtBook .text {
      padding-left: 12vw;
      padding-right: 22px; }
    .books .book#FrBook .breadcrumbs, .books .book#FrBook .text {
      padding-right: 12vw;
      padding-left: 22px; }
  .books.pt-only:not(.fr-only) #PtBook .breadcrumbs {
    padding: 0 calc(50vw - 413px);
    width: 100vw; }
  .books.pt-only:not(.fr-only) #PtBook .text {
    padding: 48px calc(50vw - 413px);
    width: 100vw; }
  .books.pt-only:not(.fr-only) #FrBook {
    display: none; }
  .books.fr-only:not(.pt-only) #FrBook .breadcrumbs {
    padding: 0 calc(50vw - 413px);
    width: 100vw; }
  .books.fr-only:not(.pt-only) #FrBook .text {
    padding: 48px calc(50vw - 413px);
    width: 100vw; }
  .books.fr-only:not(.pt-only) #PtBook {
    display: none; }

.book-footer {
  padding: 0 57px 38px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: #f8f5e3; }
  .book-footer a {
    margin-left: 40px; }

#TextosRelacionados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 37px 54px 116px 54px;
  background: #ffffff; }
  #TextosRelacionados h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 18px 0; }
  #TextosRelacionados img {
    margin: 0 0 43px 0; }
  #TextosRelacionados .related-books {
    list-style: none;
    margin: 0;
    padding: 0; }
    #TextosRelacionados .related-books li {
      position: relative;
      padding: 15px 47px 15px 87px; }
      #TextosRelacionados .related-books li:nth-child(even) {
        background: #f6f6f6; }
      #TextosRelacionados .related-books li:before {
        content: '';
        display: flex;
        background-image: url("../img/icone_relacionado.png");
        background-position: top center;
        left: 0;
        top: 15px;
        position: absolute;
        width: 87px;
        height: 18px;
        background-repeat: no-repeat; }
      #TextosRelacionados .related-books li a {
        color: #000fff;
        text-decoration: none; }
      #TextosRelacionados .related-books li p {
        display: none; }
      #TextosRelacionados .related-books li.active p {
        display: block; }

#RoteiroFull {
  padding: 149px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #RoteiroFull .content {
    width: 100%;
    max-width: 966px;
    padding: 0 10px;
    text-align: center; }
    #RoteiroFull .content h1 {
      font-size: 48px;
      font-weight: 300;
      color: #c21d24;
      margin-bottom: 56px; }
    #RoteiroFull .content a.ajuda {
      display: block;
      margin-bottom: 56px; }
    #RoteiroFull .content .lower-btns {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 54px; }
      #RoteiroFull .content .lower-btns a {
        margin-left: 40px; }
    #RoteiroFull .content .roteiro-list {
      margin-bottom: 88px;
      text-align: left; }
      #RoteiroFull .content .roteiro-list ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        #RoteiroFull .content .roteiro-list ul li {
          padding: 0 0 0 20px;
          margin: 10px 0; }
          #RoteiroFull .content .roteiro-list ul li p {
            position: relative;
            padding: 5px 45px 6px 45px;
            margin: 0 0 0 -20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: #eadfc6;
            font-weight: 700; }
            #RoteiroFull .content .roteiro-list ul li p.more {
              cursor: pointer; }
              #RoteiroFull .content .roteiro-list ul li p.more:before {
                content: '+';
                width: 45px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center; }
          #RoteiroFull .content .roteiro-list ul li ul {
            display: none;
            overflow: hidden; }
            #RoteiroFull .content .roteiro-list ul li ul li p {
              background: #f6f6f6;
              font-weight: 400; }
          #RoteiroFull .content .roteiro-list ul li.expanded > p:before {
            content: '-'; }
          #RoteiroFull .content .roteiro-list ul li.expanded > ul {
            display: block; }
        #RoteiroFull .content .roteiro-list ul.docs {
          margin: 0 0 0 -20px; }
          #RoteiroFull .content .roteiro-list ul.docs li {
            position: relative;
            padding: 0 45px; }
            #RoteiroFull .content .roteiro-list ul.docs li:before {
              content: '';
              display: flex;
              align-items: center;
              justify-content: center;
              background-image: url("../img/icone_relacionado.png");
              background-position: center center;
              background-repeat: no-repeat;
              top: 0;
              left: 0;
              bottom: 0;
              width: 45px;
              position: absolute; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center; }
  .modal.modal-show {
    display: flex; }
  .modal .modal-container {
    background: #ffffff;
    padding: 45px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    .modal .modal-container > form {
      padding: 0 55px;
      width: 360px;
      box-sizing: border-box; }
    .modal .modal-container h1 {
      color: #c21d24;
      margin: 0 0 45px 0; }
    .modal .modal-container input {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: none;
      border-bottom: 2px solid #979797;
      height: 32px;
      padding: 0;
      vertical-align: middle;
      margin: 0 0 45px 0;
      font-family: 'Lato';
      font-size: 16px;
      color: #212121; }
      .modal .modal-container input:focus {
        outline: none;
        border-color: #c21d24; }
      .modal .modal-container input::placeholder {
        color: #212121;
        font-style: italic; }

#IndicarModal .modal-container {
  width: calc(100% - 82px);
  padding: 41px 10%; }
  #IndicarModal .modal-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
    #IndicarModal .modal-container form h1 {
      margin-left: -6.6%; }
    #IndicarModal .modal-container form .form-line {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch; }
      #IndicarModal .modal-container form .form-line input:not(:first-child) {
        margin-left: 48px; }
    #IndicarModal .modal-container form .btn {
      position: relative;
      right: 0;
      align-self: flex-end; }

#FaleConosco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 149px; }
  #FaleConosco > div {
    min-width: 592px;
    text-align: center; }
    #FaleConosco > div h1 {
      font-size: 48px;
      font-weight: 300;
      color: #c21d24;
      margin-bottom: 62px; }
    #FaleConosco > div form {
      border-top: 1px solid #c7c7c7;
      padding: 33px 0; }
      #FaleConosco > div form h2 {
        font-size: 30px;
        font-weight: 300;
        text-align: left;
        margin: 0 0 59px 0; }
      #FaleConosco > div form input {
        padding: 10px 0;
        margin: 0 0 56px 0; }
      #FaleConosco > div form textarea {
        resize: vertical;
        margin-bottom: 66px;
        height: 100px; }
      #FaleConosco > div form input, #FaleConosco > div form textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #c7c7c7;
        font-size: 16px; }
        #FaleConosco > div form input:focus, #FaleConosco > div form textarea:focus {
          border-color: #c21d24;
          outline: none; }
      #FaleConosco > div form input::placeholder, #FaleConosco > div form label {
        color: #212121;
        font-style: italic; }
      #FaleConosco > div form label {
        display: flex; }
      #FaleConosco > div form .form-line {
        display: flex;
        flex-direction: row; }
        #FaleConosco > div form .form-line input:not(:first-child) {
          margin-left: 38px; }
      #FaleConosco > div form button {
        margin-bottom: 67px; }

#ParaRefletirFrases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 149px; }
  #ParaRefletirFrases > div {
    max-width: 895px;
    text-align: center;
    margin: 0 0 65px 0;
    display: flex;
    flex-direction: column; }
    #ParaRefletirFrases > div h1 {
      font-size: 48px;
      font-weight: 300;
      color: #c21d24;
      margin-bottom: 62px; }
    #ParaRefletirFrases > div > a {
      display: flex;
      align-self: flex-end; }
    #ParaRefletirFrases > div ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column; }
      #ParaRefletirFrases > div ul * {
        font-weight: 300;
        font-size: 18px;
        transition: all .3s; }
      #ParaRefletirFrases > div ul li {
        transition: all .3s;
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: 1px solid #ccc;
        border-top: 3px solid #c21d24;
        margin-bottom: 18px; }
        #ParaRefletirFrases > div ul li p {
          margin: 0 0 18px 0; }
        #ParaRefletirFrases > div ul li .author {
          font-weight: 700; }
        #ParaRefletirFrases > div ul li .source {
          color: #c7c7c7; }
        #ParaRefletirFrases > div ul li:hover {
          background: #c21d24; }
          #ParaRefletirFrases > div ul li:hover * {
            color: #ffffff; }

#NewsletterModal .modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 42px 51px; }
  #NewsletterModal .modal-container h1 {
    margin-bottom: 40px; }
  #NewsletterModal .modal-container p {
    margin-bottom: 55px; }

#pesquisaModal input {
  display: flex;
  width: 1017px;
  height: 84px;
  font-size: 20px;
  position: relative;
  right: 50px;
  color: #8e8e8e;
  border: none;
  padding-left: 32px; }
#pesquisaModal input::placeholder {
  color: #8e8e8e;
  font-style: italic; }
#pesquisaModal img {
  position: relative;
  left: 950px;
  z-index: 1; }
#pesquisaModal .close {
  position: relative;
  left: 1035px;
  bottom: 42px;
  z-index: 1; }
#pesquisaModal .close:hover {
  cursor: pointer; }

.busca .header {
  margin-top: 149px;
  color: #c21d24;
  font-size: 48px;
  font-weight: 200; }
.busca .pills {
  margin-top: 65px; }
  .busca .pills #opcao-roteiro {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    position: relative;
    left: 82px; }
  .busca .pills #opcao-portal {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    position: relative;
    left: 126px; }
  .busca .pills .input-search {
    display: inline-block;
    position: relative;
    float: right;
    right: 20px;
    bottom: 20px; }
    .busca .pills .input-search img {
      position: relative;
      float: right;
      right: 25px; }
  .busca .pills input {
    width: 266px;
    border: 1px solid #8e8e8e;
    border-style: none none solid none;
    font-style: italic; }
  .busca .pills .pill-opcao:hover {
    cursor: pointer; }
  .busca .pills input:focus {
    outline: none; }
  .busca .pills .pill-selecionado {
    color: #c21d24; }
  .busca .pills .pill-indicador {
    background-color: #c21d24;
    width: 234px;
    height: 3px;
    position: relative;
    top: 12px; }
  .busca .pills .pill-indicador-roteiro {
    left: 57px; }
  .busca .pills .pill-indicador-portal {
    left: 298px; }
.busca .table-busca {
  position: relative;
  top: 26px; }
  .busca .table-busca table {
    width: 93%;
    position: relative;
    left: 50px; }
.busca .paginacao {
  height: 250px;
  width: 90%;
  position: relative;
  top: 35px;
  left: calc(calc(100% - 1200px)/2 + 6px);
  font-size: 16px; }
  .busca .paginacao .page {
    display: inline-block;
    margin-right: 10.5px; }
  .busca .paginacao .page:hover {
    cursor: pointer; }
  .busca .paginacao .current-page {
    color: #c21d24; }

.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .conteudo > div {
    max-width: 826px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: DroidSerif;
    font-size: 18px;
    color: #5e5e5e;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left; }
    .conteudo > div .conteudo-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .conteudo > div .conteudo-controls img {
        margin: 0 14px; }
      .conteudo > div .conteudo-controls * {
        display: flex; }
    .conteudo > div h2 {
      font-weight: 700;
      font-size: 18px; }
  .conteudo .book-footer {
    padding: 0 57px 38px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #ffffff; }
    .conteudo .book-footer a {
      margin: 38px 0 0 40px; }

@media print {
  .no-print, .no-print * {
    display: none; }

  *, p, h1, h2, li {
    color: #000000;
    border: none; } }

/*# sourceMappingURL=style.css.map */
